@model CatalogProductsModel
@using System.Text 

@if (!string.IsNullOrEmpty(Model.WarningMessage))
{
    <div class="warning">
        @Model.WarningMessage
    </div>
}

@if (Model.Products.Count > 0)
{
    <div class="@(Model.ViewMode == "list" ? "product-list" : "product-grid")">
        <div class="item-grid">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="item-box @(Model.ViewMode == "list" ? "col-xs-12 col-sm-12 col-md-12 product-align" : "col-xs-12 col-sm-4 col-md-4 product-align")">
                        <div class="thumbnail">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>                        
                    </div>
                }
            </div>            
        </div>
    </div>

    @*WI-784 Add Denied specific visual*@
    StringBuilder jsBuilder = new StringBuilder();
    foreach (var product in Model.Products)
    {
        Boolean productProcessed = false;
        ProductSpecificationModel model2 = product.ProductSpecificationModel; 
        foreach (var group in model2.Groups)
        {

            if (group.Attributes.Count > 0)
            {
                for (int i = 0; i < group.Attributes.Count; i++)
                {
                    var attr = group.Attributes[i];
                    for (int j = 0; j < attr.Values.Count; j++)
                    {
                        var value = attr.Values[j];
                        if (attr.Name == "District Approvals" && !string.IsNullOrEmpty(value.ValueRaw) && value.ValueRaw.ToLower().Contains("denied"))
                        {
                            jsBuilder.AppendLine(string.Format("$('[data-productid={0}]').find('.picture').addClass('ad12app-denied');", product.Id));
                            productProcessed = true; 
                            break;
                        }
                    }
                    if (productProcessed) break;
                }
            }
            if (productProcessed) break;
        }
    }
    if (jsBuilder.Length > 0)
        {
            <script asp-location="Footer">
                $(document).ready(function () {
                    @Html.Raw(jsBuilder.ToString());
                });
            </script>
        }
    @*WI-784 end*@

    var pager = Html.Pager(Model)
        .QueryParam("pagenumber")
        // for search page
        .BooleanParameterName("advs")
        .BooleanParameterName("isc")
        .BooleanParameterName("sid")
        .RenderEmptyParameters(true);

    @if (!await pager.IsEmpty())
    {
        <div class="pager">
            @pager
        </div>
    }
}
else if (!string.IsNullOrEmpty(Model.NoResultMessage))
{
    <div class="no-result">
        @Model.NoResultMessage
    </div>
}